mixin menu (items)
    each item in items 
        li 
            a(href=item.url) #{item.name}
mixin card (items)
    each item in items 
        figure.card 
            figcaption 
                img(src=item.src, alt=item.alt)
                p.personal Personal
                p.price
                    strong #{item.price}
                    |/month
                p.description #{item.description}
                p.button 
                    a(href=item.href) select plan